@media (max-width: 768px) {
    body {
        padding: 10px 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(41, 41, 41);
        color: white;
        font-weight: 700;
    }
    .move-container {
        display: flex;
        justify-content: space-around;
    }
    .move-container button {
        width: 50%;
        height: 100%;
        border-radius: 100%;
        background-color: transparent;
        border: 5px solid white;
        margin: 10px;
        padding: 10px 5px;
    }
    .container {
        text-align: center;
    }
    h1 {
        font-size: 100%;
        font-weight: bold;
    }
    .move-icon {
        width: 80%;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .move-container button {
        width: 20%;
        height: 100%;
        border-radius: 100%;
        background-color: transparent;
        border: 5px solid white;
        padding: 20px;
    }  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}
.move-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.move-icon-2 {
    width: 10%;
}
.container {
    text-align: center;
}
h1 {
    font-size: 150%;
    font-weight: bold;
}
.result {
    font-size: 120%;
    font-weight: bold;
}
.reset-score, .auto-play-btn {
    padding: 1% .5%;
    border-radius: 2%;
    border: none;
}
